{% extends 'base.html' %}
{% block title %}Add Product{% endblock title %}

{% block body %}

<div class="content-wrapper">
    <div class="page-header">
      <h3 class="page-title"> Add Product </h3>
    </div>
    <div class="row">
      <div class="col-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title pb-4">Add Product Information</h4>
            <form class="forms-sample" method="post" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="form-group">
                <label for="exampleInputName1">Product Name</label>
                <input type="text" class="form-control" id="exampleInputName1" name="productName" placeholder="Name">
              </div>
              <div class="form-group">
                <label for="exampleInputName1">Product Price</label>
                <input type="text" class="form-control" id="exampleInputName1" name="productPrice" placeholder="Price">
              </div>
              <div class="form-group">
                <label for="exampleTextarea1">Product Description</label>
                <textarea class="form-control" id="exampleTextarea1" name="productDescription" rows="4"></textarea>
              </div>
                <div class="form-group">
                <label>File upload</label>
                <input type="file" name="img[]" class="file-upload-default">
                <div class="input-group col-xs-12">
                  <input type="file" class="btn btn-gradient-primary btn-fw" name="images" placeholder="Upload Image">
                </div>
                </div>
              
              <button type="submit" class="btn btn-gradient-primary me-2">Submit</button>
              <button class="btn btn-light">Cancel</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  


{% endblock body  %}